{% extends 'base.html' %}
{% block title %}Add User{% endblock %}
{% block content %}
<!-- Form Container -->
<div class="max-w-xl mx-auto bg-white p-8 rounded shadow mt-14 px-4 sm:px-8">
    <h1 class="text-2xl font-bold mb-6 text-center text-blue-600">Add New User</h1>

    <!-- Form fields -->
    <form method="POST" action="{{ url_for('add_user') }}" class="space-y-4">
        <div>
            <label class="block text-gray-700 font-medium mb-1">Name</label>
            <input name="name" type="text" placeholder="Name"
                class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring focus:ring-blue-400">
        </div>

        <div>
            <label class="block text-gray-700 font-medium mb-1">Email</label>
            <input name="email" type="email" placeholder="Email" required
                class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring focus:ring-blue-400">
        </div>

        <div>
            <label class="block text-gray-700 font-medium mb-1">Phone</label>
            <input name="phone" type="text" placeholder="Phone" required
                class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring focus:ring-blue-400">
        </div>

        <div>
            <label class="block text-gray-700 font-medium mb-1">Department</label>
            <input name="department" type="text" placeholder="Department" required
                class="w-full border border-gray-300 rounded px-3 py-2 focus:outline-none focus:ring focus:ring-blue-400">
        </div>

        <!-- Go back to users button -->
        <div class="flex justify-between">
            <a href="{{ url_for('users') }}" class="bg-gray-300 rounded px-4 py-2 hover:bg-gray-400 mt-5">Back to
                Users</a>

            <!-- Add User button -->
            <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700 transition mt-5">Add
                User</button>
        </div>
    </form>
</div>
{% endblock %}

</body>

</html>